


.categories
   display: grid
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
   grid-gap: 10px
   margin: 30px
   .buttonGroup
      
      display: contents 
      
      
     
         
   