.panel-usuario
    width: 100%
    height: 100vh
    display: flex
    background-position: center center
    color: black
    div.col-md-12
        background: rgb(128, 176, 202)
        text-align: center
        border: solid black 2px
        border-radius: 15px
        .imagen
            width: 35vh
            height: 35vh
            border: solid black 2px
            border-radius: 200px
            align-items: center
        .panel
            background: rgb(71, 98, 112)
            height: 45vh
    div.col-md-8
        border: solid black 2px
        border-radius: 15px
        background: rgb(71, 98, 112)
        .hr
            border-left: 1px solid hsla(200, 10%, 50%,100)
            height: 75vh
            width: 1px
            color: black !important
