*
    
header
    background-color: #8CC9D1
    padding: 30px
    .container-fluid
        width: 80%
        .row
            .col-6.logo
                display: flex
                align-self: center
                justify-content: left
                a
                    float: left
                    img
                        height: 70px
            .col-6.user
                display: flex
                align-self: center
                justify-content: right
                .dropdown
                    button
                        background-color: none
                        --bs-btn-color: none
                        --bs-btn-bg: none
                        --bs-btn-border-color: none
                        --bs-btn-hover-color: none
                        --bs-btn-hover-bg: none
                        --bs-btn-hover-border-color: none
                        --bs-btn-focus-shadow-rgb: none
                        --bs-btn-active-color: none
                        --bs-btn-active-bg: none
                        --bs-btn-active-border-color: none
                        --bs-btn-active-shadow: none
                        --bs-btn-disabled-color: none
                        --bs-btn-disabled-bg: none
                        --bs-btn-disabled-border-color: none
                .btn-login

                .btn-register
                    